{% extends 'layout.html' %}
{% block body %}


<div class="container mar-top">
    <div class="row justify-content-center vh-100 ">
        <div class="col-sm-6 " >
            <table class="table table-bordered table-sm table-dark text-center" style="margin-top: 4px">
                <thead>
                </thead>
                <tbody>
                <!--Crearemos un for para mostrar el tablero-->
                {% for n in range(1,19) %}
                <tr >
                    {% for n in range(1,19) %}
                    <th scope="col" style="color: #343a40">. </th>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 text-left">
            <div class="row">
                <div class="col-sm-12"><br>
                    <h4 class="text-white text-center text-primary" style="margin-top: 4px">Tablero de juego</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-white text-left">Este tablero es de 19*19. <br> Usted tiene definida la ficha circular de color verde </p>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="text-white text-left text-success"><strong>Jugador:</strong></h5>
                </div>
                <div class="col-sm-6">
                    <h5 class="text-white text-left text-white-50"><strong>0</strong></h5>
                </div><br>
                <div class="col-sm-6">
                    <h5 class="text-white text-warning"> <strong>Ente:</strong></h5>
                </div>
                <div class="col-sm-6">
                    <h5 class="text-white text-left text-white-50"><strong>0</strong></h5>
                </div><br>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary">Empezar</button>
                </div>
                <br>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-danger">Reiniciar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}