{% extends 'layout.html' %}
{% block body %}
<div>
<main class="container justify-content-center">
    <h1><strong>rules of the game</strong></h1>
    <p>
        <h5 style="color: aliceblue">
            <strong>game rules:</strong>
        </h5>
        <p class="text-justify" style="color: aliceblue">
            A. In the early days the game was played on a 19 × 19 Board, since Go boards are that size. This variant is still occasionally played. As-always, the larger size of the board increases the black chip lead (Sakata and Ikawa, 1981).
        <p class="text-justify" style="color: aliceblue">
            B. An overline is a line of six or more consecutive ones. Stones of the same color. In the Gomoku variant played more often today, an overline does not win (this restriction applies to both players). Only a line of exactly five stones is considered as a winning pattern
        <p class="text-justify" style="color: aliceblue">
            C. Black plays his first move generally in the square center and his second move connected diagonally to his first move. In a commonly played variant black is prohibited from playing his second move in the 5 × 5 square of which his first move forms the center. This restriction reduces Black's advantage is considerable, but not completely.
        <p class="text-justify" style="color: aliceblue">
            D. A professional variant of GoMoku is Renju. White is not restricted in any way, for example, an excess. The line wins the game for White. However, black is not allowed to overline, nor is it called three-three or four-four (cf. Sakata and Ikawa, 1981). If Black does any of these tern patterns, he is declared the loser. Renju is not a symmetrical game; playing it well requires different strategies for black and white. Even though Black's advantage is severely reduced, he still seems to have the advantage.
        <p class="text-justify" style="color: aliceblue">
            E. In an attempt to make the game less unbalanced, a choice rule was introduced in Renju for white duced: Black must play his first move in the center, white in one of the eight squares connected to the stone. Black; Black's second move is unrestricted. So White has the choice between continuing the game with stone white, or exchanging colors with black. [When playing optimally, Black, if possible, chooses his second move in such a way that the game The theoretical value of the resulting position is drawn.]
        <p class="text-justify" style="color: aliceblue">
            Black begins the game. The player who first makes a line of five consecutive pieces of their color (horizontal, vertical or diagonal) wins the game.
        <p class="text-justify" style="color: aliceblue">
            The stones once placed on the board during the game will never move again nor can they be covered.
        <p style="color: aliceblue">
            If the board is completely full, and no one has five in a row, the game is tied.
</main>
</div>
{% endblock %}
